# Local dev files
dev_*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local environment
.proceeding-dispatcher

# Jupyter Notebook
.ipynb_checkpoints
/.venv
/proceeding_dispatcher.egg-info
